{% extends "base.html" %}

{% load static %}

{% load partials %}

{% load widget_tweaks %}

{% block content %}

<div id="id-place-order-page">
    <form class="m-4 text-center" method="post">
        
        {% csrf_token %}

        <div class="grid grid-cols-6 xl:grid-cols-12 px-2 pb-4 mb-2">
            <div class="col-start-auto col-end-4 xl:col-start-6 xl:col-end-8 flex justify-center">
                <label for="" class="px-4 dark:text-white text-sm md:text-base xl:text-lg text-center rounded-lg text-gray-800 bg-slate-200 dark:bg-gray-700 me-2 py-2 border border-gray-800 dark:border-white">Table Number</label>
                <input type="number" value="0" class="w-14 h-10 xl:h-12 text-sm md:text-base xl:text-lg text-center rounded-md" id="table_number" name="table-number">
            </div>
            <div class="col-start-5 col-end-7 xl:col-start-11 xl:col-end-13">
                {% include 'create_track_orders/partials/create_order_partial.html#preview-button-popover' %}
            </div>
        </div>

        
        <div class="grid grid-cols-1 xl:grid-cols-3 gap-4">
            
            <div id="food_items">
                <div class="w-full py-1 mb-4 grid grid-cols-6 items-center bg-red-400 text-red-900 rounded-lg font-medium border border-spacing-1 border-red-800 shadow-sm shadow-red-200" id="food_drop_down">
                    <h4 class="px-2 text-xl col-span-5 xl:col-span-6 flex justify-center items-center">
                        FOOD ITEMS
                    </h4>
                    <span class="col-span-1 flex xl:hidden justify-end items-end pe-5 " >
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                        </svg>
                    </span>
                </div>
                <div class="hidden xl:flex justify-evenly mb-4 gap-1" id="food-filter-form" >
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2"/>
                            </svg>
                        </div>
                        {% render_field food_order_filters.title__icontains|add_class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search by item name..." hx-get="/internal/order/place-order/filter/FOOD/" hx-trigger="keyup changed" hx-target='#filtered-json-data' hx-swap="innerHTML" hx-include="#food-filter-form" %}
                    </div>
                    {% render_field food_order_filters.sub_category|add_class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="food_{{food_order_filters.sub_category.id}}" hx-get="/internal/order/place-order/filter/FOOD/" hx-trigger="change" hx-target='#filtered-json-data' hx-swap="innerHTML" hx-include="#food-filter-form" %}
                    {% render_field food_order_filters.is_non_veg|add_class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="food_{{food_order_filters.is_non_veg.id}}" hx-get="/internal/order/place-order/filter/FOOD/" hx-trigger="change" hx-target='#filtered-json-data' hx-swap="innerHTML" hx-include="#food-filter-form" %}
                </div>
                
                <div id="food-items-list" class="hidden xl:block">
                    {% with cate_gory='FOOD' items=menu_items %}
                        {% include 'create_track_orders/partials/create_order_partial.html#item-card-row' %}
                    {% endwith %}
                </div>
            </div>
            <div id="drinks_items">
                <div class="w-full py-1 mb-4 grid grid-cols-6 items-center bg-red-400 text-red-900 rounded-lg font-medium border border-spacing-1 border-red-800 shadow-sm shadow-red-200" id="drinks_drop_down">
                    <h4 class="px-2 text-xl col-span-5 xl:col-span-6 flex justify-center items-center">
                        DRINKS & DESSERT ITEMS
                    </h4>
                    <span class="col-span-1 flex xl:hidden justify-end items-end pe-5" >
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                        </svg>
                    </span>
                </div>
                <div class="hidden xl:flex justify-evenly mb-4" id="drinks-filter-form">
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2"/>
                            </svg>
                        </div>
                        {% render_field drinks_dessert_order_filters.title__icontains|add_class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search by item name..." hx-get="/internal/order/place-order/filter/DRINKS/" hx-trigger="keyup changed" hx-target='#filtered-json-data' hx-swap="innerHTML" hx-include="#drinks-filter-form" %}
                    </div>
                    {% render_field drinks_dessert_order_filters.sub_category|add_class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" hx-get="/internal/order/place-order/filter/DRINKS/" hx-trigger="change" hx-target='#filtered-json-data' hx-swap="innerHTML" hx-include="#drinks-filter-form" %}
                </div>
                <div id="drinks-items-list" class="hidden xl:block">
                    {% with cate_gory="DRINKS DESSERT" items=menu_items %}
                        {% include 'create_track_orders/partials/create_order_partial.html#item-card-row' %}
                    {% endwith %}
                </div>
            </div>

            <div id="hookah_items">
                <div class="w-full py-1 mb-4 grid grid-cols-6 bg-red-400 text-red-900 rounded-lg font-medium border border-spacing-1 border-red-800 shadow-sm shadow-red-200" id="hookah_drop_down">
                    <h4 class="px-2 text-xl col-span-5 xl:col-span-6 flex justify-center items-center">
                        HOOKAH ITEMS
                    </h4>
                    <span class="col-span-1 flex xl:hidden justify-end items-end pe-5" >
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                        </svg>
                    </span>
                </div>
                    
                <div class="hidden xl:flex justify-evenly mb-4" id="hookah-filter-form">
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2"/>
                            </svg>
                        </div>
                        {% render_field hookah_order_filters.title__icontains|add_class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search by item name..." hx-get="/internal/order/place-order/filter/HOOKAH/" hx-trigger="keyup changed" hx-target='#filtered-json-data' hx-swap="innerHTML"  %}
                    </div>
                    
                </div>
                <div id="hookah-items-list" class="hidden xl:block">
                    {% with cate_gory='HOOKAH' items=menu_items %}
                        {% include 'create_track_orders/partials/create_order_partial.html#item-card-row' %}
                    {% endwith %}
                </div>
            </div>
            
        </div>

        
        {% include 'create_track_orders/partials/create_order_partial.html#order-total-box' %}

        {% include 'create_track_orders/partials/create_order_partial.html#preview-modal' %}

    </form>

    <script type="py" src="{% static 'pyscript/neworder.py' %}"></script>
    
    {{data|json_script:"filtered-json-data"}}
</div>

{% endblock content %}