{% extends "base.html" %}

{% load static %}

{% load widget_tweaks %}

{% load partials %}

{% block content %}


<div class="bg-[#fceff1] dark:bg-[#171a29] h-full" id="id-track-order-page">
    <link rel="stylesheet" href="{% static 'src/svg.css' %}">

    <div class="grid grid-cols-8 lg:grid-cols-12 gap-10 mx-5">
        <h3 class="py-2.5 col-span-5 lg:col-span-10 text-xl lg:text-3xl text-center text-pink-800 dark:text-[#6bc7f8d5] my-2 bg-pink-200 dark:bg-[#003049] rounded-lg border-2 border-pink-400 dark:border-[#125a81d8] font-josefin underline underline-offset-4">TRACK ORDERS</h3>
        <button 
            type="button" 
            class="col-span-3 lg:col-span-2 text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none my-2 focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-medium rounded-lg text-sm  py-2.5 text-center me-2 "
            
            >
            <a href="{% url 'place-order' %}" class="px-16 py-5">PLACE ORDER</a>
        </button>
    </div>
    <div id="message-data" class="hidden">{{message}}</div>

    <div class="mx-5 flex justify-around bg-pink-200 my-2 py-2 rounded-lg border-2 border-pink-400 text-pink-800 dark:text-[#6bc7f8d5] dark:bg-[#003049] dark:border-[#125a81d8] font-semibold text-xs lg:text-lg">
        <span class="ms-2">Date: {% now "jS F Y" %}</span>
        <span class="ms-2">Total tables served: <span id="total-tables-served">{{recent_order|length}}</span></span>
        <span class="ms-2">Pending tables: <span id="pending-tables">{{recent_order|length}}</span></span>
        <!-- {% now "D d M Y" %} -->
    </div>

    <div id="render_data" class="p-2 mx-2 grid lg:grid-cols-4 gap-1">
        {% for order in recent_order %}
            {% include 'create_track_orders/partials/track_order_partial.html#kitchen-order-card' %}
        {% endfor %}
        
        {% include 'create_track_orders/partials/track_order_partial.html#served-confirm-modal' %}
        {% include 'create_track_orders/partials/track_order_partial.html#prepared-confirm-modal' %}
    
    </div>

    <script type="py" src="{% static 'pyscript/order_track_websocket.py' %}" ></script>
</div>


{% endblock content %}