@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Marko+One&family=Caveat:wght@400..700&family=Jacquard+24&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.border-image {
  border-image: url('../images/vector1.png'); 
  border-image-slice: 180 0 180 0; 
  border-image-width: 180px 0px 180px 0px;
  border-image-outset: 170px 0px 170px 0px;
}

.border-image1 {
  border-image: url('../images/vector1.png'); 
  border-image-slice: 180 0 180 0; 
  border-image-width: 180px 0px 180px 0px;
  border-image-outset: 170px 0px 170px 0px;
  width: 400px;
}


:is(.dark .dark\:border-dark) {
  border-image-source: linear-gradient(90deg, red, blue);
  border-image-slice: 1;
}