{% extends 'base.html' %}

{% block content %}

<div class="flex items-center justify-center p-12">

  <div class="mx-auto w-full max-w-[550px]">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="mb-5">
        <label
          for=""
          class="mb-3 block text-base font-medium text-[#07074D] dark:text-cyan-100"
        >
          Title
        </label>
        {{form.title}}
      </div>
      <div class="mb-5">
        <label
          for=""
          class="mb-3 block text-base font-medium text-[#07074D] dark:text-cyan-100"
        >
          Description
        </label>
        {{form.description}}
      </div>
      <div class="mb-5">
        <label
          for=""
          class="mb-3 block text-base font-medium text-[#07074D] dark:text-cyan-100"
        >
          Dish Image
        </label>
        {{form.dish_image}}
      </div>
      <div class="mb-5">
        <label
          for=""
          class="mb-3 block text-base font-medium text-[#07074D] dark:text-cyan-100"
        >
          Price
        </label>
        {{form.price}}
      </div>
      <div class="mb-5">
        <label
          for=""
          class="mb-3 block text-base font-medium text-[#07074D] dark:text-cyan-100"
        >
          Category
        </label>
        {{form.category}}
      </div>
      <div class="mb-5">
        <label
          for=""
          class="mb-3 block text-base font-medium text-[#07074D] dark:text-cyan-100"
        >
          Sub-Category
        </label>
        {{form.sub_category}}
      </div>
      <div class="mb-5">
        <label
          for=""
          class="mb-3 block text-base font-medium text-[#07074D] dark:text-cyan-100"
        >
          Non-Veg
        </label>
        {{form.is_non_veg}}
      </div>
      <div>
        <button
          class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
