{% extends 'base.html' %}

{% load static %}

{% load add_class %}

{% load widget_tweaks %}

{% block content %}

<a href="{% url 'menu-add' %}" class="block absolute my-2 right-1 text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900">Add items to Menu</a>

<h3 class="text-3xl text-center my-4 dark:text-white">All Menu Items</h3>

<form hx-get="{% url 'menu-edit' %}" hx-target="body" class="mb-2 mx-6">
    
    <div class="flex justify-between">
        <div>
            <label>Title Contains:</label>
            {{ filter_form.title__icontains }}
        </div>
        <div>
            <label>Category:</label>
            {{ filter_form.category }}
        </div>
        <div>
            <label>Sub-Category:</label>
            {{ filter_form.sub_category }}
        </div>
        <div>
            <label>Is Non-Veg:</label>
            {{ filter_form.is_non_veg }}
        </div>
        <div>
            <label>Price Between:</label>
            {{ filter_form.price }}
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        <button 
            type="button" 
            class="px-5 py-2.5 text-sm font-medium text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            hx-get="{% url 'menu-edit' %}" hx-trigger="click"
            >
            <svg fill="currentColor"  viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" class="w-3.5 h-3.5 text-white me-2">
            <path d="M142.9 142.9c62.2-62.2 162.7-62.5 225.3-1L327 183c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8H463.5c0 0 0 0 0 0H472c13.3 0 24-10.7 24-24V72c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2L413.4 96.6c-87.6-86.5-228.7-86.2-315.8 1C73.2 122 55.6 150.7 44.8 181.4c-5.9 16.7 2.9 34.9 19.5 40.8s34.9-2.9 40.8-19.5c7.7-21.8 20.2-42.3 37.8-59.8zM16 312v7.6 .7V440c0 9.7 5.8 18.5 14.8 22.2s19.3 1.7 26.2-5.2l41.6-41.6c87.6 86.5 228.7 86.2 315.8-1c24.4-24.4 42.1-53.1 52.9-83.7c5.9-16.7-2.9-34.9-19.5-40.8s-34.9 2.9-40.8 19.5c-7.7 21.8-20.2 42.3-37.8 59.8c-62.2 62.2-162.7 62.5-225.3 1L185 329c6.9-6.9 8.9-17.2 5.2-26.2s-12.5-14.8-22.2-14.8H48.4h-.7H40c-13.3 0-24 10.7-24 24z"></path>
            </svg>
            Clear
        </button>
    </div>
</form>
<form method="post">
{% csrf_token %}
{{ formset.management_form }}
    <div class="grid grid-cols-3 md:grid-cols-5 lg:grid-cols-7 gap-2 mx-2 lg:mx-4 dark:text-white max-w-full ">
    {% for item, form in context_data %}
        <div class="flex justify-between px-4 py-2 border rounded-md shadow-xl dark:shadow-gray-700 text-[8px] lg:text-sm mb-6" id="raw-{{item.slug_title}}">
            <div class="m-0">
                <div>
                    <p class="text-center text-[10px] lg:text-base item-title">{{item.title}}</p>
                </div>
                <div class="text-center">
                    <a href="{{item.dish_image.url}}" target="_blank">
                        <img class="p-2 rounded-t-lg w-20 lg:w-40 h-20 lg:h-40 object-cover inline-block item-dish-image" src="{{item.dish_image.url}}" alt="product image" />
                    </a>
                </div>
                <div class="overflow-y-scroll">
                    <p class="h-18 lg:h-24 w-full item-description">{{item.description}} {{item.description}}</p>
                </div>
                <div class="flex justify-between  border-t pt-2 mt-2 w-full font-medium">
                    <div>
                        <p>Price </p>
                        <p>Category </p>
                        <p>Sub Category </p>
                        <p>Is Non-veg </p>
                    </div>
                    <div>
                        <p>:</p>
                        <p>:</p>
                        <p>:</p>
                        <p>:</p>
                    </div>
                    <div>
                        <p class="item-price">{{item.price}}</p>
                        <p class="item-category">{{item.category}}</p>
                        <p class="item-sub-category">{{item.sub_category}}</p>
                        <p class="item-is-non-veg">{{item.is_non_veg}}</p>
                    </div>
                </div>
                <div class="pt-4 text-center">
                    <div class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-[8px] lg:text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800 cursor-pointer">
                        <span class="relative px-5 py-1 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0 edit-button" id="button-{{item.slug_title}}">
                        Edit Details
                        </span>
                    </div>
                    <div class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-[8px] lg:text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800 cursor-pointer">
                        <span class="relative px-5 py-1 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0 edit-button" id="button-{{item.slug_title}}">
                        Remove
                        </span>
                    </div>
                </div>
            </div>
            <div class="hidden w-full">
            {{ form.media }}
                <div class="mx-2 items-center w-full">
                    {{form.title|add_class:"text-center text-[10px] lg:text-base rounded-md py-1 w-full title"}}
                </div>
                <div class="text-center">
                    <img class="p-2 rounded-t-lg w-20 lg:w-40 h-20 lg:h-40 object-cover inline-block" src="{{form.instance.dish_image.url}}" alt="product image" />
                    {{form.dish_image|add_class:"text-[8px] lg:text-sm w-full text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dish-image"}}
                </div>
                <div class="text-[8px] lg:text-sm mt-1">
                    {{form.description|add_class:"h-12 w-full lg:h-24 text-[8px] lg:text-sm description"}}
                </div>
                <div class="flex-col justify-center border-t-4 pt-2 mt-2 font-medium text-[8px] lg:text-sm w-full">
                    <div class="grid grid-cols-9 justify-between text-[8px] lg:text-xs items-center">
                        <p class="col-span-3 text-xs">Price </p>
                        <p class="col-span-1 text-center mt-1">:</p>
                        {{form.price|add_class:"rounded-md text-[8px] lg:text-xs my-1 col-span-5 w-auto price"}}
                        <p class="col-span-3 text-xs">Category </p>
                        <p class="col-span-1 text-center mt-1">:</p>
                        {{form.category|add_class:"rounded-md text-[8px] lg:text-xs col-span-5 mb-1 w-auto category"}}
                        <p class="col-span-3 text-xs">Sub Category </p>
                        <p class="col-span-1 text-center mt-1">:</p>
                        {{form.sub_category|add_class:"rounded-md text-[8px] lg:text-xs col-span-5 mb-1 w-auto sub-category"}}
                        <p class="col-span-3 text-xs ">Is Non-veg </p>
                        <p class="col-span-1 text-center mt-1">:</p>
                        {{form.is_non_veg|add_class:"rounded-md text-[8px] lg:text-xs col-span-5 mb-1 w-auto is-non-veg"}}
                        <p class="hidden">col-span-5</p>
                    </div>
                </div>
                <div class="pt-4 text-center">
                    <div class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-[8px] lg:text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800 cursor-pointer">
                        <span class="relative px-5 py-1 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0 back" id="back-{{item.slug_title}}">
                        Back
                        </span>
                    </div>
                    <div class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-[8px] lg:text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800 cursor-pointer">
                        <span class="relative px-5 py-1 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0 save" id="save-{{item.slug_title}}">
                        Save
                        </span>
                    </div>
                </div>
            </div>
        </div>

        
    {% endfor %}
    </div>
</form>

<script type="py" src="{% static 'pyscript/menu_edit_websocket.py' %}"></script>

{% endblock %}